.button-resendemail {
    cursor: pointer;
    width: 100%; /* Width relative to viewport width */
    height: 3rem; /* Height relative to viewport width */
    border: none;
    border-radius: 1.53vw; /* Border-radius relative to viewport width */
    background-color: #006000;
    color: #ffffff;
    font-size: 1.11vw; /* Font size relative to viewport width */
    font-family: "Roboto Condensed";
    font-weight: 700;
    line-height: 1.53vw; /* Line height relative to viewport width */
    outline: none;
    margin-top: 1.04vw; /* Margin top relative to viewport width */
  }

  .image-logo-emailverif {
    width: 60%; /* Adjust the width as a percentage of the card's width */
    min-height:n 40%;
    /* height: 70%; Height is automatic to maintain aspect ratio */
    /* margin-top: 5px; /* Top margin */
    align-self: center; /* Center the logo inside the flex container */
  }

  .text-login-emailverif {
    color: #000000;
    font-size: 3.33vw; /* Font size relative to viewport width */
    font-family: "Oswald";
    font-weight: 700;
    line-height: 3.89vw; /* Line height relative to viewport width */
    text-align: center;
   /* margin-top: 2.22vw; /* Margin top relative to viewport width */
  }